body {
  font-family: "roboto", sans-serif;
  font-size: 0.7em;
  width: 100%;
  margin: auto;
  font-size: large;
}
@media screen and (min-width: 768px) {
  body {
    width: 95%;
  }
}

h2 {
  font-weight: bold;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: large;
}

.button {
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 15px #b7b7b7;
  padding: 20px;
  border-radius: 50px;
  font-weight: normal;
}
.button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 5px 15px #9e9e9e;
  transform: perspective(100px) translateZ(3px);
  transition: transform 300ms ease-in;
}

@media screen and (min-width: 1216px) {
  .restaurant__photo img {
    animation: anim-photo 1s 0.5s both;
  }
}

@keyframes anim-photo {
  from {
    transform: perspective(150px) scaleZ(-2) translateZ(0rem);
  }
  to {
    transform: perspective(150px) scaleZ(1.5) translateZ(0.1rem);
    box-shadow: 0px 5px 15px #828282;
  }
}
.etape {
  opacity: 0;
  animation: anim-menu 3s forwards;
}
.etape--1 {
  animation-delay: 1s;
}
.etape--2 {
  animation-delay: 2s;
}
.etape--3 {
  animation-delay: 3s;
}

@keyframes anim-menu {
  from {
    transform: translateY(30%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.choix:hover .choix_details {
  width: 70%;
}
.choix:hover .choix__prix {
  transform: translateX(-100%);
  width: 15%;
}
.choix:hover .choix__transition_selection {
  width: 15%;
  transform: translateX(-100%);
}
.choix:hover .choix__transition_selection .icon_check {
  transform: rotate(0deg);
}

.choix__prix {
  transition: transform 500ms ease-in-out;
}

.choix__transition_selection {
  transition: transform 500ms ease-in-out;
}
.choix__transition_selection .icon_check {
  transform: rotate(-320deg);
  transition: transform 500ms ease-in-out;
}

.load {
  width: 100%;
  background-color: white;
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  70% {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.loader {
  width: 50px;
  height: 50px;
  display: block;
  z-index: 999;
  opacity: 0;
  transition: opacity 200ms ease 3s;
  position: fixed;
  top: 50%;
  right: 50%;
}
.loader__spinner {
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #32b091;
  border-bottom-color: #32b091;
  animation: spin 1s linear 3;
}
.loader__spinner::after {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #32b091;
  border-bottom-color: #32b091;
  opacity: 0.6;
  animation: spinreverse 1500ms linear 2;
}
.loader__spinner::before {
  content: "";
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #278870;
  border-bottom-color: #278870;
  opacity: 0.4;
  animation: spinreverse 3s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinreverse {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heart {
  margin-right: 20px;
  font-size: 1.7em;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.heart__filled {
  background: -webkit-linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none !important;
}

.heart:hover > .heart__empty {
  display: none;
}
.heart:hover > .heart__filled {
  display: block !important;
  opacity: 0;
  animation: fadeIn-heart 900ms forwards;
}

@keyframes fadeIn-heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  width: 100%;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 10px;
}
header img {
  width: 30%;
}

footer {
  background-color: #353535;
  padding: 20px;
  color: white;
}
footer a {
  color: white;
  text-align: center;
}
footer a:hover {
  color: #fface8;
}
footer i {
  padding-right: 3px;
}
footer img {
  filter: brightness(100);
  width: 30%;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer img {
    width: 100%;
  }
}

.footer__action {
  line-height: 2em;
}

.section1_localisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: linear-gradient(#cfcfcf 0.5%, #EAEAEA 2%, #EAEAEA);
}

.section1_localisation__recherche p {
  display: flex;
}
.section1_localisation__recherche i {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}
.section1_localisation__recherche .location {
  width: 90%;
  border: none;
  background-color: #EAEAEA;
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: left;
}
.section1_localisation__recherche .location:focus {
  outline: none;
}
.section1_localisation__recherche ::placeholder {
  color: black;
}

.section1_localisation__presentation {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
  background-color: #F6F6F6;
}
.section1_localisation__presentation h2 {
  margin: 40px 0 0 0;
}
.section1_localisation__presentation p {
  font-weight: lighter;
  margin: 10px 0 30px 0;
}

.section2_fonctionnement {
  margin-bottom: 50px;
  height: 300px;
}
.section2_fonctionnement h2 {
  margin-left: 7%;
}
@media screen and (min-width: 1216px) {
  .section2_fonctionnement {
    height: auto;
  }
}

.etapes {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1216px) {
  .etapes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.element {
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0px 5px 15px #dddddd;
  position: relative;
}
.element:hover {
  background-color: #f4eefc;
  transition: 300ms ease-in-out;
}
.element:hover .element__icon {
  color: #9356DC;
  transition: 300ms ease-in-out;
}
.element__numero {
  position: absolute;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: white;
  background-color: #9356DC;
  padding: 5px;
  border-radius: 100%;
}
.element__icon {
  width: 25%;
  text-align: center;
  color: #818181;
  font-size: 1.2em;
}
.element__action {
  font-weight: bold;
  width: 70%;
}
@media screen and (min-width: 768px) {
  .element {
    width: 50%;
  }
}
@media screen and (min-width: 1216px) {
  .element {
    width: 25%;
  }
}

.section3_restaurants {
  padding: 2%;
  background-color: #F6F6F6;
}
.section3_restaurants h2 {
  margin-left: 4%;
}
.section3_restaurants #cartes_restaurants {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}
@media screen and (min-width: 768px) {
  .section3_restaurants #cartes_restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.carte {
  width: 90%;
  height: 16em;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 5px 15px #EAEAEA;
  margin-bottom: 30px;
  position: relative;
}
.carte:hover {
  box-shadow: 0px 5px 15px #d1d1d1;
  transition: 300ms ease-in-out;
}
.carte:hover > .carte__nouveau {
  box-shadow: 0 3px 10px #353535;
  transition: 300ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .carte {
    width: 45%;
  }
}
.carte__nouveau {
  position: absolute;
  top: 15px;
  right: 20px;
  border-radius: 3px;
  color: #2c9c81;
  background-color: #99E2D0;
  padding: 7px;
  font-size: 0.8em;
  font-weight: bold;
}
.carte img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
  object-position: center;
}

.info {
  margin: 2%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.info__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info h4 {
  margin: 0 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info p {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info__details {
  margin: 0 0 0 20px;
}

.header_menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
}
.header_menu a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_menu i {
  width: 5%;
  position: absolute;
  left: 3vw;
  font-size: 1.3em;
}
.header_menu img {
  width: 25%;
}

.restaurant {
  background-color: #F6F6F6;
}
@media screen and (min-width: 1216px) {
  .restaurant {
    background-color: white;
  }
}

.restaurant__photo {
  width: 100%;
  margin: auto;
  position: relative;
}
@media screen and (min-width: 1216px) {
  .restaurant__photo {
    text-align: center;
    margin: 30px 0px;
  }
}
.restaurant__photo img {
  box-shadow: 0px 5px 15px #EAEAEA;
}
@media screen and (min-width: 1216px) {
  .restaurant__photo img {
    width: 50%;
    border-radius: 50px;
  }
  .restaurant__photo img:hover {
    box-shadow: 0px 5px 15px #d1d1d1;
  }
}

.restaurant__menu {
  background-color: #F6F6F6;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  padding: 20px 30px;
  transform: translateY(-50px);
}
@media screen and (min-width: 1216px) {
  .restaurant__menu {
    transform: none;
  }
}
.restaurant__menu > .nom_restaurant {
  font-family: shrikhand, roboto, sans-serif;
  position: relative;
}
.restaurant__menu > .commande {
  text-align: center;
}

.menu h3 {
  font-weight: lighter;
  font-size: 1.3em;
}
.menu h3::after {
  content: "";
  background: #99E2D0;
  display: flex;
  flex-direction: column;
  width: 55px;
  height: 4px;
  margin-top: 5px;
}
@media screen and (min-width: 1216px) {
  .menu {
    height: 380px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1216px) {
  .menu .etape {
    width: 32%;
  }
}

.choix {
  width: 100%;
  display: block;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 30px;
  box-shadow: 0px 5px 15px #EAEAEA;
  overflow: hidden;
  position: relative;
}
.choix:hover {
  box-shadow: 0px 5px 15px #d1d1d1;
  transition: 300ms ease-in-out;
}
@media screen and (min-width: 1216px) {
  .choix {
    height: 20%;
    font-size: 0.8em;
  }
}
.choix__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.choix h4 {
  margin: 0 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.choix p {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.choix__details {
  margin-left: 20px;
  padding: 10px 0 10px 0;
  text-overflow: ellipsis;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}
.choix__prix {
  display: flex;
  align-items: center;
  padding: 4%;
  font-weight: bold;
  color: #5d5d5d;
}
.choix__transition_selection {
  width: 15%;
  height: 100%;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #99E2D0;
  color: white;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -15%;
}

/*# sourceMappingURL=style.css.map */
