body {
  font-family: "roboto", sans-serif;
  width: 95%;
  margin: auto;
  font-size: large;
}

h2 {
  font-weight: bold;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: large;
}

.button {
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 15px #b7b7b7;
  padding: 20px;
  border-radius: 50px;
  font-weight: normal;
}
.button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 5px 15px #9e9e9e;
}

header {
  width: 100%;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 30px;
}
header img {
  width: 30%;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
}
footer a {
  color: white;
  text-align: center;
}
footer i {
  padding-right: 3px;
}
footer img {
  filter: brightness(100);
  width: 80%;
}

.footer__action {
  line-height: 3em;
}

.section1_localisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: linear-gradient(#cfcfcf 0.5%, #EAEAEA 2%, #EAEAEA);
}
.section1_localisation h2 {
  margin: 40px 0 0 0;
  font-weight: bold;
}

.section1_localisation__presentation {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
  background-color: #F6F6F6;
}
.section1_localisation__presentation p {
  font-weight: lighter;
  margin: 10px 0 30px 0;
}

.location {
  border: none;
  background-color: #EAEAEA;
  font-size: 1.2em;
  text-align: center;
  color: black;
}

.section2_fonctionnement {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.section2_fonctionnement h2 {
  text-align: center;
}

.etapes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.element {
  width: 25%;
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0px 5px 15px #dddddd;
  position: relative;
}
.element:hover {
  background-color: #f4eefc;
}
.element__numero {
  position: absolute;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: white;
  background-color: #9356DC;
  padding: 5px;
  border-radius: 100%;
}
.element__icon {
  width: 20%;
  text-align: center;
  color: #818181;
  font-size: 1.2em;
}
.element__action {
  font-weight: bold;
  width: 70%;
}

.section3_restaurants {
  padding: 2%;
  background-color: #F6F6F6;
}
.section3_restaurants h2 {
  text-align: center;
}
.section3_restaurants #cartes_restaurants {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 80%;
}

.carte {
  width: 40%;
  height: 14em;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 5px 15px #EAEAEA;
  margin-bottom: 30px;
  position: relative;
}
.carte:hover {
  box-shadow: 0px 5px 15px #d1d1d1;
}
.carte__nouveau {
  position: absolute;
  top: 15px;
  right: 20px;
  border-radius: 3px;
  color: #2c9c81;
  background-color: #99E2D0;
  padding: 7px;
  font-size: 0.8em;
  font-weight: bold;
}
.carte img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
  object-position: center;
}

.info {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.info__details {
  margin: 10px 0 0 20px;
}
.info h4 {
  margin: 0;
}
.info p {
  margin-top: 0;
}

.heart {
  margin-right: 20px;
  font-size: 1.7em;
  display: flex;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 10px;
}
.heart:hover .heart__empty {
  display: none;
}

.heart__filled {
  background: -webkit-linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurant__photo {
  width: 60%;
  margin: auto;
}

.restaurant__menu {
  background-color: #F6F6F6;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  padding: 20px 30px;
}
.restaurant__menu > .nom_restaurant {
  position: relative;
  font-family: shrikhand, roboto, sans-serif;
}
.restaurant__menu > .commande {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu h3 {
  font-family: roboto, sans-serif;
  font-weight: lighter;
  font-size: 1.3em;
}
.menu a {
  display: block;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 15px #EAEAEA;
}
.menu a:hover {
  box-shadow: 0px 5px 15px #d1d1d1;
}
.menu .etape {
  width: 32%;
}

.choix {
  background-color: white;
  border-radius: 25px;
  margin-bottom: 30px;
}
.choix__transition_selection {
  display: none;
}

/*# sourceMappingURL=style.css.map */
