$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$colour-lightgrey: #F6F6F6;
$colour-mediumgrey: #EAEAEA;
$colour-darkgrey: #353535;


$margin-defaut: 20px;

$background-button: linear-gradient($colour-secondary, $colour-primary);