.section2_fonctionnement{
    display: flex;
    flex-direction: column;
    & h2{
        text-align: center;
    }
}

.etapes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.element{
    width: 25%;
    display: flex;
    justify-content: center;
    background-color: $colour-lightgrey;
    padding: 25px;
    border-radius: 25px;
}