// icon heart__filled
@mixin heart__filled{
    background: -webkit-linear-gradient(45deg, $colour-secondary, $colour-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// class __details
@mixin details{
  &__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
& h4{
    margin: 0 0 5px 0;
}
& p{
    margin-top: 0;
    margin-bottom: 0;
}
}

// Responsive

$breakpoints:(
  tablet: 768px,
  laptop: 1216px,
);

@mixin tablet{
  @media screen and (min-width: map-get($breakpoints, tablet)){
    @content;
  }
}

@mixin laptop{
  @media screen and (min-width: map-get($breakpoints, laptop)){
    @content;
  }
}

// Transition shadow

@mixin transition_shadow {
  
}