// Couleurs
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$colour-lightgrey: #F6F6F6;
$colour-mediumgrey: #EAEAEA;
$colour-darkgrey: #353535;
$colour-icon-section2:#818181;

$colour-icon-heart: linear-gradient(45deg, $colour-secondary, $colour-primary);

// Marges
$margin-defaut: 30px;
$margin-h2: 4%;

// Ombres portées
$box-shadow-box: 0px 5px 15px;
$box-shadow-hover: $box-shadow-box darken($colour-mediumgrey, 10%);