body{
    font-family: 'robotoregular', sans-serif;
    width: 95%;
    margin: auto;
    font-size: large;
}

h2{
    font-weight: bold;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

.button {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: large;
}
