.button{
    margin-bottom: $margin-defaut;
    border: none;
    outline: none;
    background: linear-gradient($colour-secondary, $colour-primary);
    box-shadow: $box-shadow-box darken($colour-mediumgrey, 20%);
    padding: 20px;
    border-radius: 50px;
    font-weight: normal;
    &:hover{
        filter: brightness(1.1);
        box-shadow: $box-shadow-box darken($colour-mediumgrey, 30%);
        transform: perspective(100px) translateZ(3px);
        transition: transform 300ms ease-in;
    }
}
