.heart{
    margin-right: 20px;
    font-size: 1.7em;
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 10px;
}

.heart__filled{
    @include heart__filled;
    display:none !important;
}

.heart{
    &:hover{
        & > .heart__empty{
            display: none;
        }
        & > .heart__filled{
            display: block !important;
            opacity: 0;
            animation: fadeIn-heart 900ms forwards;
        }
    }
} 

@keyframes fadeIn-heart{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}