
.loader{
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    &__spinner{
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: darken($colour-tertiary, 30%);
        border-bottom-color: darken($colour-tertiary, 30%);
        -webkit-animation: spin 1s linear 3;
                animation: spin 1s linear 3;
        &:after{
            content:"";
            position: absolute;
            top: 5px;
            bottom: 5px;
            left: 5px;
            right: 5px;
            border-radius: 50px;
            border: 6px solid transparent;
            border-top-color: darken($colour-tertiary, 30%);
            border-bottom-color: darken($colour-tertiary, 30%);
            opacity: 0.6;
            -webkit-animation: spinreverse 1500ms linear 2;
                    animation: spinreverse 1500ms linear 2;
        }
        &:before{
            content:"";
            position: absolute;
            top: 15px;
            bottom: 15px;
            left: 15px;
            right: 15px;
            border-radius: 50px;
            border: 3px solid transparent;
            border-top-color: darken($colour-tertiary, 40%);
            border-bottom-color: darken($colour-tertiary, 40%);
            opacity: 0.4;
            -webkit-animation: spinreverse 3s linear;
                    animation: spinreverse 3s linear;
        }
    }
}

@-webkit-keyframes spin{
    from{ -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    to{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin{
    from{ -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    to{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes spinreverse{
    from{ -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
    to{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spinreverse{
    from{ -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
    to{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}


