footer{
    background-color: $colour-darkgrey;
    padding: 20px;
    color: white;
    & a{
        color: white;
        text-align: center;
        &:hover{
            color: lighten($colour-secondary, 10%);
        }
    }
    & i{
        padding-right: 3px;
    }
    & img{
        filter: brightness(100);
        width: 30%;
    }
    @include tablet{
        display: flex;
        flex-direction: column;
        align-items: center;
        & img{
            width: 100%;
        }
    }
}

.footer__action{
    line-height: 2em;
}