footer{
    background-color: $colour-darkgrey;
    padding: 20px;
    color: white;
    & a{
        color: white;
        text-align: center;
    }
    & i{
        padding-right: 3px;
    }
    & img{
        filter: brightness(100);
        width: 15%;
    }
}

.footer__action{
    line-height: 2em;
}