.section2_fonctionnement{
    margin-bottom: 50px;
    height: 300px;
    & h2{
        margin-left: 7%;
    }
    @include laptop{
        height: auto;
    }
}

.etapes{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include laptop{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.element{
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: $colour-lightgrey;
    padding: 25px;
    border-radius: 25px;
    box-shadow: $box-shadow-box darken($colour-mediumgrey, 5%);
    position: relative;
    &:hover{
        background-color: lighten($colour-primary, 36%);
        @include transition_hover;
        & .element__icon{
            color: $colour-primary;
            @include transition_hover;
        }
    }
    &__numero{
        position: absolute;
        left: -12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        color: white;
        background-color: $colour-primary;
        padding: 5px;
        border-radius: 100%;
    }
    &__icon{
        width: 25%;
        text-align: center;
        color: $colour-icon-section2;
        font-size: 1.2em;
    }
    &__action{
        font-weight: bold;
        width: 70%;
    }
    @include tablet{
        width: 50%;
    }
    @include laptop{
        width: 25%;
    }
}